
ul {
  list-style-type: none;
  overflow: hidden;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  background-color: white;
}

li {
  float: left;
  margin-bottom: -6px;
}

li a, .dropbtn{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: sans-serif;
}

li a:hover{
  background-color: rgb(172, 172, 172);
}
.dropdown:hover .dropbtn {
  background-color: rgb(110, 110, 110);
}
div {
    text-align: center;
    margin-top: 18px;
    margin-right: 0px;
    float: right;
}
img {
    display: flex;
    justify-content: space-between;
    font-family: right;
    margin-top: 5px;
    margin-left: 290px;
    margin-right: 3px;
    margin-bottom: -2px;
}

li.dropdown {
  display:absolute;
}
div.dropdown-menü {
  display:none;
  position:absolute;
  background-color: lightgrey;
  min-width:15px;
  z-index: 1;
  margin-top: -18px;
  margin-left: -130px;
}
div.dropdown-menü a{
  color: black;
  padding: 10px 33.5px;
  text-decoration:none;
  display: block;
}
div.dropdown-menü1 {
  display:none;
  position: absolute;
  background-color: lightgrey;
  min-width: 20px;
  z-index: 1;
  margin-top: 0px;
}
div.dropdown-menü1 a{
  color:black;
  padding: 10px 30px;
  text-decoration: none;
  display: block;
}
.dropdown-content {
  display:none;
  position: absolute;
  background-color: lightgrey;
  min-width: 15px;
  z-index: 1;
  margin-top: -5px;
  margin-left: -74px;
}
.dropdown-content a {
  color: black;
  padding: 10px 26px;
  text-decoration:none;
  display: block;
}
.dropdown-content1 {
  display:none;
  position:absolute;
  background-color: lightgrey;
  min-width: 15px;
  z-index: 1;
  margin-top: -38px;
  margin-left: 130px;
}
.dropdown-content1 a {
  color:black;
  padding: 10px 40px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover, .dropdown-content1:hover {background-color: rgb(173, 173, 173);}
.dropdown:hover .dropdown-content, .dropdown:hover .dropdown-content1, .dropdown-content:hover div.dropdown-menü, .dropdown-content1:hover div.dropdown-menü1 {
  display:block;
}
